h1 {
    color: darkslategray;
    font-family: 'K2D';
    text-align:center;
    font-size:50pt;
}

h2 {
    color: darkslategray;
    font-family: 'K2D';
    text-align:center;
    font-size:35pt;
}

H3 {
    color: darkslategray;
    font-family: 'K2D';
    text-align:left;
    font-size:20pt;
}

H4 {
    color: darkslategray;
    font-family: 'K2D';
    text-align:left;
    font-size:20pt;
    padding-left: 15px;
}


.pageheader {
    color: darkslategray;
    text-align: center;
    font-family: 'K2D';
}

.navbar {
    font-family: 'K2D';
    font-size: 14pt;
}

.jumbotron{
    background-image: url(homepage.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    min-height: 480px;
}

.lead{
    color: white;
    font-size:35pt;
    font-family: 'K2D';
}


.bodytext{
    font-size: 16pt;
    color: darkslategray;
    text-align:center;
    font-family: 'K2D';
    padding: 30px;
}

.listtext{
    font-size: 14pt;
    color: darkslategray;
    text-align:left;
    font-family: 'K2D';
    padding: 14px;
}

.headshot {
    height:420px;
}

.smallertext{
    font-size: 13pt;
    color: darkslategray;
    text-align:left;
    font-family: 'K2D';
    padding: 13px;
}

.endtext{
    font-size: 8pt;
    color: darkslategray;
    text-align:left;
    font-family: 'K2D';
    padding-left:7px;
} 

.card-title{
    font-size: 13pt;
    color: darkslategray;
    text-align:center;
    font-family: 'K2D';
}
.card-text{
    font-size: 11pt;
    color: darkslategray;
    text-align:left;
    font-family: 'K2D';
}

li{
padding-bottom: 15px;
}
